PORT=8080
N8N_WEBHOOK_URL=https://ain8n.ict-expertise.com/webhook/89a8a6de-6580-41ff-9e7c-b0a315364dfd
N8N_STATUS_WEBHOOK_URL=https://ain8n.ict-expertise.com/webhook/36b6b4b3-62b5-4da1-8349-5767b8d1b3e5
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-me
SESSION_SECRET=replace-with-random-secret
N8N_RETRY_ATTEMPTS=3
N8N_RETRY_DELAY_MS=5000
N8N_TIMEOUT_MS=60000
POLLING_INTERVAL_MS=5000
POLLING_TIMEOUT_MS=600000
CRON_TIMEZONE=Europe/Paris
